# Ignore local hooks
/hooks/*
!/hooks/*-hooks/
/hooks/*-hooks/*
!/hooks/*-hooks/.keep

# Ignore global hooks
/.global-hooks/*-hooks/*
!/.global-hooks/*-hooks/.keep

# MacOS files
.DS_Store

# VIM files
tags
